@model Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form asp-action="Create"  method="post">
    <div asp-validation-summary="All" class="text-bg-danger"></div>
    <div>
        <label>Product Name:</label>
        <input asp-for="Name" name="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label>Product Price:</label>
        <input asp-for="Price" name="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div>
        <label>Product Quantity:</label>
        <input asp-for="Quantity" name="Quantity" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>
    <div>
        <label>Product Category:</label>
        <input asp-for="Category" name="Category" class="form-control" />
        <span asp-validation-for="Category" class="text-danger"></span>
    </div>
    <div>
        <label>Product CreatedDate:</label>
        <input asp-for="CreatedDate" name="CreatedDate" class="form-control" />
        <span asp-validation-for="CreatedDate" class="text-danger"></span>
    </div>
    <hr />
    <button type="submit" class="btn  btn-primary">Save</button>

</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
